@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		font-family: Sen, system-ui, Avenir, Helvetica, Arial, sans-serif;
		line-height: 1.5;
		font-weight: 400;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		--background: #ffffff;
		--foreground: #0c0a09;
		--primary: #e6723d;
		--primary-foreground: #fafaf9;
		--tertiary: #fcf2f4;
		--border: #e7e5e4;
		--input: #e7e5e4;
		--ring: #f97316;
	}

	.dark {
		--background: #0c0a09;
		--foreground: #fafaf9;
		--primary: #ea580c;
		--primary-foreground: #fafaf9;
		--tertiary: #303246;
		--border: #292524;
		--input: #292524;
		--ring: #ea580c;
	}
}
